/* 
-----------------------------------------------
                    VARS 
-----------------------------------------------
*/
:root {
    --light-green-color: rgb(209, 218, 145);
    --pink-color: rgb(210, 169, 184);
    --background-color: rgb(243, 240, 213);
    --text-color: rgb(84, 98, 58)
  }



/* 
-----------------------------------------------
                    BODY 
-----------------------------------------------
*/

body {
    color: var(--text-color);
    display: flex;
    margin: 0;
    height: 100vh;
}

hr {
    background-color: var(--background-color);
    height: 5px;
    width: 100%;
    margin:0;
    border: transparent;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/* 
-----------------------------------------------
                    SIDEBAR 
-----------------------------------------------
*/

.sidebar {
    max-height: 100vh;
    background-color: var(--light-green-color);
    display:flex;
    flex: 0 0 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:x-large;
    font-family: 'Jost';
    padding-top: 50px;
    padding-bottom: 50px;

}


.sidebar .socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .pages {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.sidebar .pages li {
    align-items: center;
    list-style-type: none;
    margin: 1vh 0;

}

a:link  {text-decoration: underline; color: var(--text-color);}
a:visited {text-decoration: none; color: var(--text-color);}
a:hover {text-decoration: underline; color: var(--background-color);}
a:active {text-decoration: none; color: var(--background-color);}

a.class1:link  {text-decoration: underline; color: var(--background-color);}
a.class1:visited {text-decoration: none; color: var(--text-color);}
a.class1:hover {text-decoration: underline; color: var(--background-color);}
a.class1:active {text-decoration: none; color: var(--background-color);}

.sidebar .frog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xxx-large;
    font-weight: 600;
}
.sidebar .frog li {
    align-items: center;
    list-style-type: none;
    margin: 0vh 0;
}


/* 
-----------------------------------------------
                    MAIN 
-----------------------------------------------
*/



.barf {
    max-height: 100vh;
    background-color:var(--background-color);
    display: flex;
    flex: 0 0 85%;
    font-family: 'Jost';
    padding: 50px;
}

.barf h1 {
    font-size: 65px;
    margin: 0;
    height: 100px;
    font-weight: 700;
}


